@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }
 
  .carousel .thumb.selected {
    border: 1px solid #3498db; /* Border color for selected thumbnail */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional: shadow for selected */
  }
  .carousel .thumb:hover {
    border: 1px solid #ff6347; /* Orange border on hover */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .carousel .thumbs-wrapper {
    margin: 5px auto; /* 20px top/bottom and centered horizontally */
  }